langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-groq==0.1.5
groq==0.8.0
beautifulsoup4==4.12.3
requests==2.31.0
chromadb==0.4.24
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
lxml==5.1.0
